<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <!-- NLog configuration Starts-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="Log"/>
    <targets>
      <target name="file1" xsi:type="File" fileName="${logDirectory}/file1.txt" layout="${date:format=yyyyMMddHHmmss}:${callsite}:${message}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="debug" writeTo="console" />
      <logger name="*" minlevel="debug" writeTo="file1"/>
    </rules>
  </nlog>
  <!-- NLog configuration Ends-->
	<system.web>
		<httpRuntime executionTimeout="21600000" maxRequestLength="2147483646"/>
	</system.web>
	<appSettings>
		<add key="chunkSize" value ="200009"/>
	</appSettings>
</configuration>